.body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    transition: background-color 0.5s, color 0.5s;
}

.header, .footer {
    background: linear-gradient(90deg, rgba(57, 0, 249, 1) 0%, rgba(49, 196, 151, 1) 100%);
    padding: 20px;
    text-align: center;
    animation: fadeIn 1s;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

@media (max-width: 600px) {
    .header, .footer {
        padding: 15px;
    }
}

@media (min-width: 601px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
